:root {
    --color-text: #000000;
    --color-primary: #5d16d5;
    --color-primary-contrast: #fff;
    --color-secondary: #C7D2E9;
    --color-secondary-contrast: #000000;
    --color-gray: #757575;


    --base-purple: 262, 80%;

    --color-link-base: var(--base-purple);
    --color-link-visited-base: var(--base-purple);
    --color-link: hsla(var(--color-link-base), 50%, 100%);
    --color-link-hover: hsla(var(--color-link-base), 40%, 100%);
    --color-link-visited: hsla(var(--color-link-visited-base), 30%, 70%);
}
