
<div class="events" role="tablist">
    <div class="events__filter" id="events-filter">
        <button class="events__button header-4 is-active" id="events-heading1" role="tab" tabindex="0" data-filter="all" aria-selected="true">
            Все <span>(3<span class="visually-hidden"> события</span>)</span>
        </button>
        <button class="events__button header-4" id="events-heading2" role="tab" tabindex="-1" data-filter="today">
            Сегодня <span>(1<span class="visually-hidden"> события</span>)</span>
        </button>
        <button class="events__button header-4" id="events-heading3" role="tab" tabindex="-1" data-filter="tomorrow">
            Завтра <span>(2<span class="visually-hidden"> события</span>)</span>
        </button>
    </div>

    <ul class="events__list" id="events-list">
        {% for event in eventslist | reverse %}
            {% if event.data.inList %}
                <li class="events__item" data-filter="{{ event.data.filter }}">
                    <div class="event-card">
                        <div class="event-card__content">
                            <h3>
                                <a class="event-card__link header-2" href="{{ event.url | url }}">
                                    <img class="event-card__image" src="{{ event.url | url }}cover-small.jpg" alt=""/>

                                    <span class="event-card__title">
                                        {{ event.data.title }}
                                    </span>
                                </a>
                            </h3>
                            <div class="event-card__dates p-1">{{ event.data.dates }}</div>
                        </div>

                        <a href="{{ '/tickets/' | url }}?title={{ event.data.title | encodeUri }}" class="event-card__action">
                            Купить билет
                            <span class="visually-hidden">, {% if event.data.titleShort %} {{ event.data.titleShort }} {% else %} {{ event.data.title }} {% endif %}</span>
                        </a>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
