{% if isdevelopment %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>💩</text></svg>">
{% else %}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90' transform='scale(1, -1)' transform-origin='50 50%' filter='invert(45%) sepia(71%) saturate(1655%) hue-rotate(161deg) brightness(93%) contrast(103%)'>🗑️</text></svg>">
{% endif %}
