---
layout: base.njk
title: Билеты и льготы
eleventyExcludeFromCollections: true
---
<article class="post">
    <h1 class="post__title header-1">{{ title }}</h1>

    <div class="post__content formatted-text">
        Страница Билеты и льготы
    </div>
</article>
