@mixin simpleLink($has-visited: false) {
    color: var(--color, var(--color-link));
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--color-border, hsla(var(--color-link-base), 80%, 50%));
    text-decoration-skip-ink: auto;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    transition: color .2s, text-decoration .2s;

    @if $has-visited {
        &:visited {
            color: var(--color-visited, var(--color-link-visited));
            text-decoration-color: var(--color-border-visited, hsla(var(--color-link-visited-base), 40%, 50%));
        }
    }

    &:hover {
        color: var(--color-hover, var(--color-link-hover));
        text-decoration-color: var(--color-border-hover, currentColor);
    }
}
