// TODO: fonts
// font-display: swap;


body {
  font: 1.5em/1.5 Georgia,sans-serif;
  padding: 2em
}

article,body:before,footer,header,main {
  display: block;
  box-sizing: border-box;
  max-width: 100%
}

body:before {
  content: "Your browser does not support CSS variables and a lot of other modern stuff. Most of the content should still be accessible, but a lot of the examples won’t work.";
  border: 2px solid;
  background: pink;
  padding: 2em;
  margin: 4em auto;
  width: 42em
}

article,footer,header,main {
  width: 36em;
  margin: 0 auto
}

figure {
  border: 2px solid;
  padding: 1em;
  border-radius: 5px
}

@media not print {
  .only-print {
    display: none!important
  }
}

@media print {
  @page {
    size: auto;
    padding-top: 100px
  }

  html {
    min-width: 760px
  }

  img {
    filter: grayscale(100%) contrast(104%)
  }

  h1 {
    margin: 2rem 0!important
  }

  *,::after,::before {
    background: 0 0!important;
    color: #000!important;
    box-shadow: none!important;
    text-shadow: none!important;
    overflow: visible!important;
    border: 0!important
  }

  a[href] {
    background-image: none!important;
    text-decoration: underline!important
  }

  .Anchor,.Feedback,.Page-Copy>.Link:last-child,.Page-Languages,.PrevNext,.SearchButton,footer {
    display: none!important
  }

  li {
    page-break-inside: avoid
  }
}

@supports (--var: iables) {
  :root {
    --h-gap: var(--THEME_INDENT);
    --v-gap: var(--THEME_INDENT);
    --content-max-width: 42rem;
    --content-min-width: calc(24rem * var(--at-large));
    --aside-width: 15rem;
    --viewport-padding: calc(var(--THEME_INDENT) * (1 - 0.25 * var(--at-small)));
    --grid-toc: minmax(0, 1fr);
    --grid-side: minmax(min-content, 1fr);
    --grid-content: minmax(var(--content-min-width), var(--content-max-width));
    --grid-ascii: " full  full     full  " " toc   both     both  " " toc   content  aside ";
    --grid-ascii--small: " full  full     full " " .     toc      .    " " .     both     .    " " .     content  .    " " .     aside    .    ";
    --grid: var(--grid-ascii) / var(--grid-toc) var(--grid-content) var(--grid-side);
    --figure-subgrid-ascii: " full    full  " " content aside ";
    --figure-subgrid-ascii--small: " full    " " content " " aside   ";
    --figure-subgrid: var(--figure-subgrid-ascii) / var(--grid-content) var(--grid-side);
    --text-indent: var(--THEME_INDENT);
    --initial-at-large: true;
    --at-large: calc(1 - var(--at-small));
    --at-small: 0;
    --initial-at-reduced-motion: initial
  }

  @media (max-width: 50em) {
    :root {
      --initial-at-large: initial;
      --initial-at-small: true;
      --at-small: 1;
      --grid-ascii: var(--grid-ascii--small);
      --figure-subgrid-ascii: var(--figure-subgrid-ascii--small)
    }
  }

  @media (prefers-reduced-motion:reduce) {
    :root {
      --initial-at-reduced-motion: true
    }
  }

  :root {
    --THEME_ROOT_FONT_SIZE: 112.5%;
    --THEME_INDENT: 2rem;
    --THEME_FONT_SIZE: calc(1rem + 5px);
    --THEME_FONT_SIZE--SMALL: 1rem;
    --THEME_FONT_SIZE--CODE: calc(1rem + 2px);
    --THEME_LINE_HEIGHT: 2rem;
    --THEME_LINE_HEIGHT--SMALL: 1.3888em;
    --THEME_FONT_FAMILY: '21Cent-Regular', '21Cent-Fallback', Georgia, serif, Helvetica Neue, Arial;
    --THEME_FONT: var(--THEME_FONT_SIZE)/var(--THEME_LINE_HEIGHT) var(--THEME_FONT_FAMILY);
    --THEME_FONT--SMALL: var(--THEME_FONT_SIZE--SMALL)/var(--THEME_LINE_HEIGHT--SMALL) var(--THEME_FONT_FAMILY);
    --THEME_BG: hsl(135, 40%, 98%);
    --THEME_BG--DISTANT: hsl(120, 12%, 94%);
    --THEME_LINK: hsl(202, 92%, 42%);
    --THEME_VISITED: hsl(270, 35%, 55%);
    --THEME_TEXT_SHADOW: 0 1px #FFF;
    --THEME_SELECTION: #B1D2FB;
    --THEME_COLOR_H: 52;
    --THEME_COLOR_S: 45;
    --THEME_COLOR_S--P: calc(1% * var(--THEME_COLOR_S));
    --THEME_COLOR_L: 10;
    --THEME_COLOR_L--P: calc(1% * var(--THEME_COLOR_L));
    --THEME_COLOR_A: 0.92;
    --THEME_COLOR_A--MISC: 0.62;
    --THEME_COLOR_A--LIGHT: 0.42;
    --THEME_LI_CONTENT: "— ";
    --THEME_LI_CONTENT--OL: counter(list) ". ";
    --THEME_COLOR_A--DISTANT: 0.48;
    --THEME_MAIN_SHADOW: inset 0 1px 0 rgba(255,255,255,.9), 0 0 0 1px rgba(37,34,14,.05), 0 0 40px -5px rgba(37,34,14,.3)
  }

  [style*='--display:'] {
    display: var(--display)
  }

  *,::after,::before {
    --color: hsla( var(--color-h, 0), calc(var(--color-s, 0) * 1%), calc(var(--color-l, 0) * 1%), calc(var(--inherited-a, var(--color-a, 1)) + 0 / (1 - var(--color-a, 1))) );
    --color-a: 1
  }

  :root {
    --color-h: var(--THEME_COLOR_H);
    --color-s: var(--THEME_COLOR_S);
    --color-l: var(--THEME_COLOR_L);
    --color-a: var(--THEME_COLOR_A);
    --inherited-a: initial
  }

  .ArticleList {
    grid-column: full;
    grid-gap: var(--THEME_INDENT);
    grid-template-columns: var(--initial-at-small, repeat(auto-fit, minmax(15.6rem, 1fr)));
    grid-auto-flow: dense;
    padding: calc(2*var(--THEME_INDENT)) var(--viewport-padding) var(--THEME_INDENT);
    --grid-column: auto;
    --ul-display: grid;
    --ul-item-content: none;
    --list-item-padding: 0;
    --text-indent: 0;
    --everything-shown: true
  }

  .ArticleList-Li:nth-child(n+11) {
    display: var(--everything-shown, none)
  }

  .ArticleList-Flag {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden
  }

  .ArticleList-Flag+.ArticleList {
    --everything-shown: initial
  }

  .ArticleList-Flag:target+.ArticleList {
    --everything-shown: true
  }

  .ArticleList-Flag:target+.ArticleList+p {
    --ArticleList-Flag: none
  }

  .isShown-whenOnlyRecent {
    display: var(--ArticleList-Flag)
  }

  .isShown-whenShownAll {
    display: none var(--ArticleList-Flag, )
  }

  .ArticleList-Item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: calc(var(--priority)*var(--THEME_FONT_SIZE) + (1 - var(--priority))*var(--THEME_FONT_SIZE--SMALL));
    line-height: calc(var(--priority)*var(--THEME_LINE_HEIGHT) + (1 - var(--priority))*var(--THEME_LINE_HEIGHT--SMALL));
    --Metadata-text-align: center;
    --Metadata-margin-top: calc(var(--asides-padding-top) * (1 - var(--priority)));
    --Metadata-margin-bottom: calc(0.5rem + 0.5rem * var(--priority));
    --before: "";
    --h2-font-size: calc( var(--priority) * 2rem + (1 - var(--priority)) * 1.5rem );
    --h2-line-height: 2rem;
    --h2-margin-top: calc(var(--priority) * -0.15rem);
    --h2-margin-bottom: calc(var(--priority) * 1rem);
    --_hover: 0;
    --_transition: 0.2s
  }

  .ArticleList-Item:after {
    padding-top: 2rem;
    margin-top: auto;
    opacity: calc(1 - 100*var(--_hover))
  }

  .ArticleList-Item:hover {
    --_hover: 0.66
  }

  .ArticleList-Item:focus-within {
    --_hover: 0.66
  }

  .ArticleList-Link:hover {
    --_hover: 1;
    --_transition: 0
  }

  .ArticleList-Link:focus {
    outline: 0;
    --_hover: 2;
    --_transition: 0
  }

  .ArticleList-Link::before {
    position: absolute;
    left: calc(-.5*var(--THEME_INDENT));
    right: calc(-.5*var(--THEME_INDENT));
    top: calc(1px - var(--THEME_INDENT));
    bottom: 0;
    z-index: 1;
    opacity: var(--_hover);
    box-shadow: 0 1px 3px 1px var(--color),0 2px 7px -1px var(--color),0 -1px var(--THEME_BG);
    --color-a: calc(0.15 * var(--_hover));
    transition: var(--_transition) linear;
    transition-property: opacity,box-shadow
  }

  :root {
    --anchor-active: 0
  }

  [id] {
    scroll-margin: .5rem
  }

  .Anchor {
    display: inline-block;
    width: .8em;
    padding-top: 0;
    border-right: .2em solid transparent;
    margin: -.5em 0 -.5em -1em;
    text-shadow: none;
    line-height: 1;
    opacity: var(--anchor-active);
    transform: translate(calc(100%*(1 - var(--anchor-active))),0);
    transition: var(--initial-at-reduced-motion, 0.3s) var(--initial-at-reduced-motion, calc(1s - 0.7s * var(--anchor-active)));
    transition-property: opacity,transform;
    --before: "#"
  }

  .Anchor::before {
    font-feature-settings: "smcp"
  }

  .Anchor:focus {
    --anchor-active: 1;
    transition: none
  }

  :root {
    --asides-counter: asides 9;
    --asides-padding-top: calc(0.5rem - 2px)
  }

  .Aside,aside,figcaption {
    --grid-column: aside;
    grid-row-start: var(--start);
    grid-row-end: span var(--span);
    align-self: var(--align, start);
    width: var(--initial-at-small, var(--aside-width));
    margin-left: var(--initial-at-large, auto);
    counter-increment: asides;
    font: var(--THEME_FONT--SMALL);
    font-feature-settings: "lnum","onum" 0;
    padding-top: calc(var(--at-large)*var(--asides-padding-top));
    margin: calc(var(--THEME_LINE_HEIGHT)*(var(--at-large)*var(--offset, 0) + var(--at-small)*.5)) calc(var(--at-small)*var(--THEME_INDENT)) calc(var(--at-small)*var(--THEME_LINE_HEIGHT));
    --text-indent: 0;
    --p-p-margin-top: 1.5em;
    --link-underline-offset: 0.4em
  }

  .Aside {
    grid-column: aside
  }

  figcaption {
    width: calc(var(--aside-width) - var(--h-gap));
    margin-right: var(--h-gap)
  }

  aside[style*='--align:end;'] {
    padding-bottom: calc(var(--at-large)*var(--asides-padding-top))
  }

  footer::after,header::after {
    content: counter(asides);
    grid-column: aside;
    line-height: var(--aside-width);
    writing-mode: vertical-lr;
    word-wrap: break-word;
    height: 0;
    visibility: hidden;
    margin-left: calc(-1*var(--aside-width));
    max-width: calc(2*var(--aside-width))
  }

  .Button {
    -moz-appearance: none;
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    display: inline-block;
    vertical-align: baseline;
    overflow: visible;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    font: inherit;
    text-decoration: none;
    color: inherit;
    background: 0 0;
    cursor: pointer;
    user-select: none;
    --_visibility: hidden;
    --_box-shadow: none;
    --_Text-transform: none;
    --_Text-transition: none
  }

  .Button_disabled {
    pointer-events: none
  }

  .Button::-moz-focus-inner {
    padding: 0;
    border: 0
  }

  .Button-Content {
    position: relative;
    display: block;
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    border-radius: inherit;
    padding: var(--Button-padding)
  }

  .Button:focus {
    --_visibility: inherit;
    --_box-shadow: 0 0 2px 2px #6F9DEC, inset 0 0 2px 1px #6F9DEC
  }

  .Button:not(:-moz-focusring):focus {
    --_visibility: hidden
  }

  .Button-Focus {
    visibility: var(--_visibility);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    box-shadow: var(--_box-shadow)
  }

  .Button-BLHelper {
    float: left;
    width: 0;
    min-width: 0
  }

  .Button-BLHelper::before {
    content: "\\a0"
  }

  .Button-Text {
    display: block;
    flex-shrink: 1;
    flex-basis: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    transition: var(--_Text-transition);
    transform: var(--_Text-transform)
  }

  .Button-After,.Button-Before {
    align-self: center;
    flex-shrink: 0;
    float: left
  }

  .Button-After {
    order: 1;
    float: right
  }

  .Button-Content:focus,.Button:focus {
    outline: 0
  }

  code,kbd,pre {
    font-feature-settings: "lnum","onum" 0
  }

  pre {
    display: flex;
    white-space: pre-wrap;
    font-family: Monaco,Consolas,monospace,monospace;
    --code-padding: 0 0 0 var(--h-gap);
    --code-font-style: normal;
    --code-line-height: 1.5rem;
    font-size: var(--THEME_FONT_SIZE--CODE);
    line-height: 1;
    position: relative;
    overflow: hidden;
    padding: 1rem 0;
    --code-color: var(--color);
    border-radius: 3px
  }

  pre:not(.z):not(.z) {
    padding: 1rem 0;
    margin: 1rem 0;
    background: #fff
  }

  code:not(.z):not(.z) {
    font: inherit;
    white-space: pre-wrap;
    max-width: 100%;
    padding: var(--code-padding, 0);
    font-style: var(--code-font-style, italic);
    line-height: var(--code-line-height, 1);
    color: var(--code-color, #567E00);
    hyphens: none
  }

  figure {
    grid-column: content;
    --grid-column: initial;
    --text-indent: 0;
    --link-text-shadow-color: transparent;
    --link-padding: 0;
    padding: .5rem;
    border: 0;
    margin: var(--nested-figure-margin, 1rem calc(-1.5rem * var(--at-small)));
    background: #fff;
    border-radius: var(--initial-at-small, 3px);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2)
  }

  .Figure-Toggle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    clip: rect(1px,1px,1px,1px)
  }

  .Figure {
    grid-column: both;
    --grid-column: content;
    display: grid;
    grid: var(--figure-subgrid);
    grid-gap: 0 var(--h-gap);
    padding: 1rem 0;
    margin: 2rem 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: rgba(37,34,14,.05);
    box-shadow: none;
    --img-margin: 0 0 0 var(--h-gap);
    --nested-figure-margin: 0 0 0 var(--h-gap);
    --img-max-width: calc(100% - var(--h-gap))
  }

  .Figure-Toggle:checked+.Figure-Demo,.Figure-Toggle:not(:checked)+*+.Figure-Screenshot {
    display: none
  }

  article,footer,header,main {
    display: grid;
    grid-template: var(--grid);
    grid-gap: 0 var(--viewport-padding);
    --grid-column: content;
    width: auto;
    max-width: none;
    padding: 0;
    margin: 0
  }

  article::after {
    content: "";
    grid-column: content;
    border-bottom: 1px solid;
    margin-top: 2rem;
    margin-bottom: -1px;
    color: var(--color);
    --color-a: 0.15
  }

  * {
    grid-column: var(--grid-column)
  }

  :root {
    --ul-item-content: var(--THEME_LI_CONTENT);
    --ol-item-content: var(--THEME_LI_CONTENT--OL);
    --list-item-padding: var(--THEME_INDENT)
  }

  ol,ul {
    padding: 0;
    margin: 0;
    --list-item-content: var(--ul-item-content);
    --p-margin-top: 0
  }

  ol {
    counter-reset: list;
    --list-item-content: var(--ol-item-content)
  }

  ul {
    display: var(--ul-display);
    grid-template-areas: var(--ul-grid)
  }

  li {
    padding: 0 0 0 var(--list-item-padding);
    list-style-type: none;
    justify-self: var(--grid-position, var(--li-justify-self));
    grid-column: var(--grid-position, auto / span var(--initial-at-small, var(--span)));
    --priority: var(--at-small);
    --span: calc(var(--priority) * 2)
  }

  li::before {
    content: var(--list-item-content);
    counter-increment: list;
    position: absolute;
    width: var(--THEME_INDENT);
    margin-left: calc(-1*var(--THEME_INDENT));
    font-feature-settings: "lnum","onum" 0
  }

  .Metadata {
    margin-top: var(--Metadata-margin-top, 1rem);
    margin-bottom: var(--Metadata-margin-bottom, 0);
    text-align: var(--Metadata-text-align, right);
    font: italic var(--THEME_FONT--SMALL);
    --text-indent: 0;
    --time-color-a: 1
  }

  .Metadata+.Metadata,h1+h2,h2+h3,h3+h4,h4+h5,h5+h6 {
    margin-top: 0
  }

  .Search {
    text-align: left;
    --ul-item-content: none;
    --list-item-padding: 0;
    --text-indent: 0;
    --link-text-shadow-color: var(--THEME_BG--DISTANT);
    margin: var(--search-margin, 0 calc(-1 * var(--viewport-padding)))
  }

  .Search-Form:empty,.Search-Results:empty {
    display: none
  }

  .Search-Form {
    display: flex;
    align-items: baseline;
    margin-top: 1em;
    padding: 1rem var(--viewport-padding) 0;
    background: var(--THEME_BG--DISTANT)
  }

  .Search-Input {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    padding: .15em .5rem 0;
    border: 0;
    margin: 0 .5rem 0 0;
    font: inherit
  }

  .AlgoliaSVG,.Search-PoweredBy {
    display: inline-block
  }

  .AlgoliaSVG {
    height: 1em;
    width: auto;
    vertical-align: middle;
    margin: -.15em 0 0
  }

  .Search-Results {
    padding: 1rem var(--viewport-padding);
    background: var(--THEME_BG--DISTANT)
  }

  .Search-Results-List {
    display: block;
    margin-bottom: -1rem
  }

  .Search-Results-List-Item {
    --_hover: 0;
    --_transition: 0.2s
  }

  .Search-Result {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem
  }

  .Search-Result::after {
    order: -1;
    margin-top: 0;
    margin-bottom: 1rem;
    opacity: calc(1 - 100*var(--_hover))
  }

  .Search-Result-Title {
    margin: 0;
    font: inherit;
    text-align: left
  }

  .Search-Result-Text {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-hyphens: none;
    hyphens: none;
    font: var(--THEME_FONT--SMALL)
  }

  .Search-Result-Tags {
    font: italic var(--THEME_FONT--SMALL)
  }

  .Search-Result-Text-After,.Search-Result-Text-Before {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    max-width: -moz-max-content;
    max-width: max-content;
    padding: .2em 0 .1em
  }

  .Search-Result-Text-Before {
    display: inline-flex;
    justify-content: flex-end
  }

  html:not(.withJS) .SearchButton {
    display: none
  }

  .SearchButton {
    --Button-padding: 0 0.5rem;
    --_Text-transition: transform 0.2s linear;
    will-change: transform
  }

  .SearchButton.isActive,.SearchButton:hover {
    --_Text-transform: scale(1.4)
  }

  .SearchButton,.SearchButton.isActive:hover {
    --_Text-transform: scale(1)
  }

  .Search-Result-Link:not(.Search-Result-Link_main) {
    position: relative;
    z-index: 9;
    --link-hover-z-index: 9
  }

  .Search-Result-Link_main::after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: calc(-1*var(--viewport-padding));
    right: calc(-1*var(--viewport-padding));
    bottom: 0;
    opacity: var(--_hover);
    box-shadow: 0 1px 3px 1px var(--color),0 2px 7px -1px var(--color),0 1px var(--THEME_BG);
    --color-a: calc(0.15 * var(--_hover));
    transition: var(--_transition) linear;
    transition-property: opacity,box-shadow
  }

  .Search-Result:hover {
    --_hover: 0.66
  }

  .Search-Result:focus-within {
    --_hover: 1
  }

  .Search-Result-Link:hover {
    --_hover: 1;
    --_transition: 0
  }

  .Search-Results-List-Item.isActive {
    --_hover: 2;
    --_transition: 0
  }

  .Search-Result-Link:focus {
    outline: 0;
    --_hover: 2;
    --_transition: 0
  }

  :root {
    --sidenote-counters: sidenote sidenote-link
  }

  .Sidelink,.Sidenote {
    position: relative;
    z-index: 1;
    display: inline-block;
    text-indent: 0
  }

  .Highlight {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    transition: background-color .2s .2s linear;
    counter-increment: var(--counter);
    pointer-events: none
  }

  .Sidelink:not(:hover),.Sidenote:not(:hover) {
    --highlight-hover: rgba(255, 255, 0, 0.3)
  }

  .Highlight:hover {
    background: var(--highlight-hover)
  }

  label[for$=-Anchor] {
    display: block;
    padding-right: var(--h-gap)
  }

  .Highlight:hover+label[for$=-Anchor] {
    --link-text-shadow-color: transparent;
    --link-text-shadow-transition: 0s
  }

  .Sidelink {
    --counter: sidenote-link;
    --link-underline-color: transparent;
    --link-underline-color--hover: transparent
  }

  a[aria-hidden=true]:not([class]) {
    display: inline;
    color: inherit;
    text-decoration: none
  }

  a[href^='#'][aria-hidden=true]:not([class])::after {
    content: counter(sidenote-link);
    position: relative;
    top: -.555rem;
    cursor: pointer;
    padding: 0 0 0 .16em;
    font-size: 1rem;
    line-height: 1;
    color: rgba(0,0,0,.6);
    font-feature-settings: "smcp"
  }

  .Sidenote {
    --counter: sidenote
  }

  p[role=note] {
    --asides-padding-top: 0
  }

  .Highlight[id$=-Content]::before {
    content: counter(sidenote) ". ";
    position: absolute;
    top: calc(var(--at-large)*var(--asides-padding-top));
    left: -2.25rem;
    width: 2rem;
    text-align: right;
    color: rgba(0,0,0,.6);
    transition: opacity .2s .2s linear;
    opacity: var(--highlight-opacity, calc(1 - var(--at-large)))
  }

  .Highlight[id$=-Content]:hover,.Sidenote:hover {
    --highlight-opacity: 1
  }

  .Summary {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 2rem
  }

  :root {
    --finger-to-right: "☞";
    --hair-space: " ";
    --nbsp: " "
  }

  .ToC {
    --ToC-Width: 220px;
    position: var(--initial-at-small, sticky);
    z-index: 11;
    top: -.5rem;
    left: 0;
    overflow: visible;
    visibility: hidden;
    grid-column: toc;
    grid-row-end: span 7;
    justify-self: center;
    width: fit-content;
    padding: 0;
    margin: 1em 0 0;
    font-size: 16px;
    line-height: 18px;
    --ul-display: block;
    --active-content: "";
    --counters: counters(ToC, ".") ". ";
    --list-item-padding: calc(1rem + 1rem * var(--at-large));
    --link-text-shadow-color: transparent;
    --is-hovered: 0
  }

  .ToC:hover {
    --is-hovered: 1
  }

  .ToC:not(:hover) {
    --ToC-opacity: var(--initial-at-small, 0.4)
  }

  .ToC::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2rem;
    visibility: visible
  }

  .ToC::before {
    content: var(--initial-at-small, "Table of Contents");
    position: sticky;
    top: 1rem;
    left: 0;
    display: inline-block;
    height: 0;
    visibility: visible;
    pointer-events: none;
    transform: translateX(.5rem) translateY(1rem) rotate(-90deg) translateX(-100%);
    transform-origin: 0 0;
    white-space: nowrap;
    opacity: .5
  }

  .ToC-LI+.ToC-LI {
    margin-top: var(--ToC-LI-margin, 0.5rem)
  }

  .ToC-UL {
    padding-right: .5rem;
    counter-reset: ToC 0
  }

  .ToC-LI {
    position: relative;
    counter-increment: ToC 1;
    --is-active: 0
  }

  .ToC-LI_active {
    --is-active: 1;
    --active-content: var(--finger-to-right) var(--hair-space)
  }

  .ToC-UL_nested {
    padding-right: 0;
    --ToC-LI-margin: 0;
    --counters: var(--nbsp);
    --active-content: "•";
    --list-item-padding: calc(1rem * var(--at-large))
  }

  .ToC-Link {
    position: relative;
    display: flex;
    --link-underline-width: 0;
    opacity: calc(var(--ToC-opacity) + var(--is-active)*(1 - var(--ToC-opacity)))
  }

  .ToC-Link::before {
    content: var(--active-content) var(--counters);
    position: var(--initial-at-small, absolute);
    right: 100%;
    flex-shrink: 0;
    white-space: nowrap;
    opacity: calc(.5 + .5*var(--is-active))
  }

  .ToC-Link::first-letter {
    color: red
  }

  .ToC-Link::after {
    content: var(--initial-at-small, "");
    position: absolute;
    right: 100%;
    left: -200px;
    top: 0;
    bottom: 0
  }

  .ToC-Link+.ToC-UL {
    margin-bottom: .5rem
  }

  .ToC-Header {
    text-align: left;
    padding: 0 1rem;
    margin: 0 0 1rem;
    font-size: 1em;
    opacity: var(--ToC-opacity)
  }

  .ToC-Header::before {
    content: "                                                                                                                                                            ";
    display: block;
    height: 0;
    overflow: hidden;
    max-width: calc(var(--ToC-Width) + 1px)
  }

  .ToC-Content {
    position: sticky;
    top: 0;
    z-index: 1;
    overflow: auto;
    overflow-x: hidden;
    visibility: visible;
    box-sizing: border-box;
    padding: 1rem 0;
    width: calc((100% - var(--ToC-Width))*999);
    max-width: 100%;
    height: 100%;
    max-height: var(--initial-at-small, 100vh);
    min-width: calc(var(--is-hovered)*var(--ToC-Width));
    background: var(--THEME_BG)
  }

  .TagList {
    display: inline-block;
    --link-position: relative;
    --link-z-index: 9;
    --link-hover-z-index: 10;
    --link-color: var(--color);
    --link-color--visited: var(--color);
    --link-padding: 0.3em 0.15em;
    --link-underline-position: bottom 5%;
    --link-margin: 0 -0.15em;
    color: var(--color);
    --color-a: 0.5
  }

  .FirstLetter {
    margin-left: var(--fletter-offset, -0.15em);
    font-feature-settings: var(--fletter-style, "ss01")
  }

  [aria-label^=C],[aria-label^=С],[aria-label^=Э] {
    --fletter-style: "ss02";
    --fletter-offset: -0.05em
  }

  [aria-label^=К],[aria-label^=Т] {
    --fletter-style: "ss04"
  }

  [aria-label^=Ч] {
    --fletter-offset: -0.2em
  }

  [aria-label^=A],[aria-label^=G],[aria-label^=O],[aria-label^=Q],[aria-label^=S],[aria-label^=Z],[aria-label^=А],[aria-label^=Д],[aria-label^=Ж],[aria-label^=З],[aria-label^=О],[aria-label^=Ф],[aria-label^=Я] {
    --fletter-offset: -0.05em
  }

  [aria-label^=Va] {
    --fletter-offset: -0.11em
  }

  :root {
    --link-color: var(--THEME_LINK);
    --link-color--hover: var(--link-color);
    --link-color--visited: var(--THEME_VISITED);
    --link-underline-width: 1px;
    --link-underline-offset: 0.37em;
    --link-underline-color: hsla( var(--THEME_COLOR_H), var(--THEME_COLOR_S--P), var(--THEME_COLOR_L--P), var(--THEME_COLOR_A--LIGHT) );
    --link-underline-color--hover: currentColor;
    --link-underline-pattern-width: 16px;
    --link-text-shadow-color: var(--THEME_BG);
    --link-underline-position: bottom 24%
  }

  .Link,a {
    position: var(--link-position);
    z-index: var(--link-z-index);
    cursor: pointer;
    color: var(--link-color);
    hyphens: none;
    padding: var(--link-padding, 0.3em 0);
    margin: var(--link-margin);
    text-decoration: none;
    text-shadow: -2px 0 0 var(--link-text-shadow-color),-1.5px 0 var(--link-text-shadow-color),-1px 0 var(--link-text-shadow-color),-.5px 0 var(--link-text-shadow-color),.5px 0 var(--link-text-shadow-color),1px 0 var(--link-text-shadow-color),2px 0 0 var(--link-text-shadow-color),1.5px 0 var(--link-text-shadow-color),0 -.5px var(--link-text-shadow-color),0 -1px var(--link-text-shadow-color),0 -1.5px var(--link-text-shadow-color),0 -2px var(--link-text-shadow-color),0 -2.5px var(--link-text-shadow-color),0 -3px var(--link-text-shadow-color),0 -3.5px var(--link-text-shadow-color),0 -4px var(--link-text-shadow-color),0 -4.5px var(--link-text-shadow-color),0 -5px var(--link-text-shadow-color),0 -5.5px var(--link-text-shadow-color),0 -6px var(--link-text-shadow-color);
    transition: text-shadow var(--link-text-shadow-transition, 0s 0.4s) linear;
    --underline-width: var(--link-underline-width);
    --time-color-a: invalid
  }

  .Link::before,a::before {
    content: var(--before)
  }

  .Link::after,a::after {
    content: var(--after)
  }

  span {
    --underline: 0;
    --link-underline-position: bottom 5%
  }

  .Link,a,span {
    --link-underline-image: linear-gradient(var(--link-underline-color), var(--link-underline-color));
    background: var(--link-underline-image) repeat-x left 0 var(--link-underline-position)/var(--link-underline-pattern-width) calc(var(--underline-width)*var(--underline, 1));
    background-clip: content-box
  }

  .Link:not(a),.Link_pseudo {
    user-select: none;
    --link-underline-image: linear-gradient(to left, transparent 3px, var(--link-underline-color) 0);
    --link-underline-pattern-width: 6px;
    --link-color--visited: var(--link-color)
  }

  a:visited {
    color: var(--link-color--visited)
  }

  .Link:hover,a:hover,a:not([href^='#']):focus {
    --underline-width: calc(2 * var(--link-underline-width));
    --link-underline-color: var(--link-underline-color--hover);
    color: var(--link-color--hover);
    z-index: var(--link-hover-z-index, var(--link-z-index))
  }

  .Wireframe {
    width: var(--wireframe-width, 78em);
    height: var(--wireframe-height, 47em);
    font-size: 3px;
    box-sizing: border-box;
    padding: 1px;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2)
  }

  .Wireframe-Text {
    --fg: #CFCECA;
    --bg: #FFF;
    --lh: 6px;
    --text-height: 4px;
    --pixel-offset: 7px;
    --line-offset: 6;
    --bg-solid: linear-gradient(var(--bg), var(--bg));
    --fg-solid: linear-gradient(var(--fg), var(--fg));
    --bg-fill: linear-gradient(var(--bg) var(--text-height), transparent 0) repeat-y;
    --fg-fill: linear-gradient(var(--fg) var(--text-height), transparent 0) repeat-y;
    --indent: var(--bg-fill) 0 calc(var(--pixel-offset) + var(--lh) * (var(--line-offset) - 13))/var(--lh);
    --ending: var(--bg-fill) right -1px top calc(var(--pixel-offset) + var(--lh) * (var(--line-offset) - 14));
    --cicada-1: calc(var(--lh) * 13);
    --cicada-2: calc(var(--lh) * 17);
    --cicada-3: calc(var(--lh) * 23);
    --header: 1;
    background: var(--fg-solid) 50% var(--pixel-offset)/calc(var(--header)*56px) var(--lh) no-repeat,var(--bg-solid) 0 0/calc(var(--header)*100%) calc(var(--pixel-offset) + var(--lh)*2) no-repeat,var(--indent) var(--cicada-1),var(--indent) var(--cicada-2),var(--indent) var(--cicada-3),var(--ending)/25% var(--cicada-1),var(--ending)/19% var(--cicada-2),var(--ending)/40% var(--cicada-3),var(--fg-fill) 0 var(--pixel-offset)/100% var(--lh)
  }

  .MyGrid.Wireframe {
    position: static;
    position: var(--initial-at-small, sticky);
    top: var(--v-gap);
    margin-right: var(--initial-at-large, auto);
    margin-left: var(--initial-at-large, auto)
  }

  @supports (position: sticky) {
    .MyGrid.Wireframe::after,.MyGrid.Wireframe::before {
      content:var(--initial-at-small, "");
      position: absolute;
      top: 0;
      left: 0
    }

    .MyGrid.Wireframe::before {
      box-sizing: content-box;
      width: var(--wireframe-width, 78em);
      height: inherit;
      background: var(--THEME_BG);
      z-index: -2
    }

    .MyGrid.Wireframe::after {
      right: 0;
      bottom: 0;
      z-index: -1;
      background: inherit;
      border-radius: inherit;
      box-shadow: inherit
    }
  }

  .MyGrid {
    display: grid;
    grid: " .            content        aside      "/var(--side) var(--middle) var(--side);
    grid-gap: 0 var(--gap);
    --middle: minmax(24em, 42em);
    --side: minmax(min-content, 1fr);
    --gap: 2em
  }

  .MyGrid-Content {
    grid-column: content
  }

  .MyGrid-Aside {
    grid-column: aside;
    width: 15em;
    margin-right: var(--gap)
  }

  .Warning {
    position: relative;
    z-index: 12;
    display: flex;
    --grid-column: full;
    border: .5rem dashed #ffca51;
    padding: 2rem calc(1rem*var(--at-small));
    margin: 0 var(--viewport-padding) 2rem;
    background: linear-gradient(#fff,#fff),linear-gradient(#ff2475,#ff2475);
    background-clip: padding-box,border-box;
    text-align: center;
    font-size: 1.5rem;
    --strong-font-weight: normal;
    --em-font-style: normal;
    --em-font-weight: 900
  }

  .Warning::after,.Warning::before {
    content: var(--initial-at-small, "⚠️");
    align-self: center;
    font-size: 3rem;
    margin: 2rem
  }

  .Warning:last-child {
    margin: 2rem 2rem 0
  }

  html,time {
    color: var(--color)
  }

  html {
    overflow-y: scroll;
    font-size: var(--THEME_ROOT_FONT_SIZE);
    background: var(--THEME_BG);
    text-shadow: var(--THEME_TEXT_SHADOW);
    -webkit-hyphens: auto;
    hyphens: auto;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    cursor: default
  }

  .Page_type_home {
    --h1-font-weight: normal;
    --h1-margin-bottom: 2rem
  }

  body {
    min-width: 26rem;
    padding: 0;
    margin: 0;
    font: var(--THEME_FONT)
  }

  .Root {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    counter-reset: var(--asides-counter) var(--sidenote-counters)
  }

  body::before {
    display: none
  }

  article {
    --search-margin: 0
  }

  header {
    order: calc(-2 + var(--invisible, 0));
    text-align: center;
    --h1-font-size: 3.5rem;
    --h1-font-weight: normal
  }

  footer {
    display: var(--footer-display, grid);
    margin-top: var(--footer-margin-top, 2rem);
    margin-bottom: var(--footer-margin-bottom, 2rem);
    --text-indent: 0
  }

  nav {
    grid-column: content;
    --ul-display: grid;
    --ul-item-content: none;
    --list-item-padding: 0;
    --link-color: var(--color);
    --link-color--visited: var(--color);
    --link-underline-offset: 0.4em;
    font-size: var(--THEME_FONT_SIZE--SMALL);
    --ul-grid: "full full" "start end";
    --li-justify-self: start;
    --li-justify-self-even: end;
    --grid-column: auto;
    overflow: hidden;
    max-height: calc(0px*var(--invisible));
    padding: calc(var(--nav-padding, 1rem)*(1 - var(--invisible, 0)));
    margin: calc(var(--nav-margin, -1rem)*(1 - var(--invisible, 0)));
    opacity: calc(0*var(--invisible))
  }

  time {
    --color-a: var(--time-color-a, 0.75)
  }

  img {
    max-width: var(--img-max-width, 100%);
    border: 0;
    display: var(--img-display, inline-block);
    margin: var(--img-margin, 0)
  }

  img:only-child {
    --img-display: block;
    --img-margin: 1rem auto
  }

  b,strong {
    font-weight: var(--strong-font-weight, bold)
  }

  h1,h2,h3,h4,h5,h6 {
    margin-top: var(--heading-margin-top, 2rem);
    margin-bottom: var(--heading-margin-bottom, 1rem);
    text-align: center;
    font-size: 1rem;
    line-height: 1em;
    font-weight: 900;
    --strong-font-weight: 900
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2rem
  }

  h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover {
    --anchor-active: 1
  }

  h1 {
    font-size: var(--h1-font-size, calc(3rem - 0.5rem * var(--at-small)));
    font-weight: var(--h1-font-weight, 900);
    line-height: var(--h1-line-height, 1em);
    margin-top: var(--h1-margin-top, 3rem);
    margin-bottom: var(--h1-margin-bottom, 3rem);
    -webkit-hyphens: var(--initial-at-large, none);
    hyphens: var(--initial-at-large, none)
  }

  h2 {
    font-size: var(--h2-font-size, 2rem);
    line-height: var(--h2-line-height, 1em);
    margin-top: var(--h2-margin-top, var(--heading-margin-top, 2rem));
    margin-bottom: var(--h2-margin-bottom, var(--heading-margin-bottom, 1rem))
  }

  hr {
    visibility: hidden
  }

  iframe {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0
  }

  p {
    margin: 0;
    margin-top: var(--p-margin-top);
    text-indent: calc(var(--p-text-indent)*var(--at-large))
  }

  p:empty {
    display: none
  }

  :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.Summary):not(.Warning)+p {
    --p-text-indent: var(--text-indent);
    --p-margin-top: var(--p-p-margin-top, calc(1rem * var(--at-small)))
  }

  em {
    font-style: var(--em-font-style, italic);
    font-size: var(--em-font-size);
    font-weight: var(--em-font-weight)
  }

  blockquote {
    padding: 0 var(--THEME_INDENT);
    margin: 1rem 0;
    box-shadow: inset 2px 0;
    font-style: italic;
    --text-indent: 0;
    --em-font-style: normal;
    --code-font-style: normal
  }

  table {
    margin: 1rem 0;
    text-align: center
  }

  mark {
    padding: .2em 0 .1em;
    color: inherit;
    text-shadow: none;
    background: rgba(255,255,0,.5)
  }

  ::selection {
    text-shadow: none!important;
    background-color: var(--THEME_SELECTION)
  }
}

/*# sourceMappingURL=styles.css.map */
