---
layout: base.njk
title: Противодействие коррупции
eleventyExcludeFromCollections: true
---
<article class="post">
    <h1 class="post__title header-1">{{ title }}</h1>

    <div class="post__content formatted-text">
        Страница Противодействие коррупции
    </div>
</article>
