---
layout: base.njk
title: Посетителям с ограниченными возможностями
eleventyExcludeFromCollections: true
---
<article class="post">
    <h1 class="post__title header-1">{{ title }}</h1>

    <div class="post__content formatted-text">
        Страница Посетителям с ограниченными возможностями
    </div>
</article>
