{% if not title %}
    {% set generatedTitle = metadata.title %}
{% else %}
    {% set generatedTitle = title %}

    {% if not isIndex %}
        {% set generatedTitle = title + ' - ' + metadata.title %}
    {% else %}
        {% set generatedTitle = metadata.title %}
    {% endif %}
{% endif %}

<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ generatedTitle }}</title>
        <meta name="description" content="{{ description or metadata.description }}">

        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

        {% include 'favicon.njk' %}
        {% include 'meta-open-graph.njk' %}

        <link rel="stylesheet" href="{{ '/styles/index.css' | url }}" media="print" onload="this.media='all'">
        <noscript>
            <link rel="stylesheet" href="{{ '/styles/index.css' | url }}" media="screen">
        </noscript>
    </head>
    <body>
        <header class="header">
            <h1 class="header__home">
                <a class="header__home-link link {% if page.url == '/' %} is-active {% endif %}" href="{{ '/' | url }}">
                    <img class="header__photo" src="/images/menu-photo.jpg" srcset="/images/menu-photo.jpg 1x, /images/menu-photo@2x.jpg 2x" width="48" height="48" alt="">

                    <div class="header__home-text p-1">
                        {{ metadata.title }}
                    </div>
                </a>
            </h1>

            <nav class="navigation">
                <ul class="navigation__list">
                    {%- for entry in collections.all | eleventyNavigation %}
                        {% if entry.url !== "/" %}
                            <li class="navigation__item p-1 {% if entry.url == page.url %} is-active {% endif %}">
                                <a class="link" href="{{ entry.url | url }}" {% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
                            </li>
                        {% endif %}
                    {%- endfor %}
                </ul>
            </nav>
        </header>

        <main class="page__content">
            {{ content | safe }}
        </main>


        <footer class="footer">
            <ul class="footer__menu">
                <li><a href="/accessible/">Посетителям с инвалидностью</a></li>
                <li><a href="/tickets/">Билеты и льготы</a></li>
                <li><a href="/corruption/">Противодействие коррупции</a></li>
            </ul>

            <div>
                Социальные сети
                <ul class="footer__menu">
                    <li>Наша почта</li>
                    <li>Telegram</li>
                    <li>Facebook</li>
                </ul>
            </div>

            <div>
                Подписка на новости

                <form>
                    <input type="email" />
                    <input type="checkbox"/> Согласен на обработку персональх данных
                    <button type="submit">Подписаться</button>

                </form>
            </div>
        </footer>

        <script async src="{{ '/scripts/index.js' | url }}"></script>
    </body>
</html>
