---
layout: base.njk
---
<article class="article">
    <h1 class="article__title header-1">{{ title }}</h1>

    <div class="article__info p-1">
        Период проведения: {{ articleDates }}
    </div>

    <div class="article__content formatted-text">
        {{ content | safe }}
    </div>

    <div class="article__action">
        <a href="{{ '/tickets/' | url }}?title={{ title | encodeUri }}">
            Купить билет
        </a>
    </div>

    {%- set nextPost = collections.events | getNextCollectionItem(page) %}
    {%- set previousPost = collections.events | getPreviousCollectionItem(page) %}
    {%- if nextPost or previousPost or tags %}
        <div class="article__footer">
            <nav aria-labelledby="article-footer-title">
                <h2 class="article__footer-title header-3" id="article-footer-title">Похожие выставки</h2>

                <div class="content-nav">
                    {%- if nextPost %}
                        <div class="content-nav__item p-1">
                            <a class="content-nav__link link link--has-visited" href="{{ nextPost.url | url }}">
                                {{ nextPost.data.title }}
                            </a>
                        </div>
                    {% endif %}

                    {%- if previousPost %}
                        <div class="content-nav__item p-1">
                            <a class="content-nav__link link link--has-visited" href="{{ previousPost.url | url }}">
                                {{ previousPost.data.title }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </nav>
        </div>
    {%- endif %}
</article>


