---
layout: base.njk
title: Поиск по сайту
eleventyExcludeFromCollections: true
eleventyNavigation:
    key: Поиск по сайту
    order: 5
---
<article class="article">
    <h1 class="article__title header-1">{{ title }}</h1>

    <div class="article__content formatted-text">
        <p>По запросу <span id="request"></span> ничего не найдено</p>
        <p>
            <a href="{{ '/' | url }}">Вернуться на главную</a>
        </p>
    </div>

    <script>
        function get(name){
            if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
                return decodeURIComponent(name[1]);
        }

        const request = get('search');
        if (request) {
            document.title = `${request} (0 результатов) - ${document.title}`;
            document.getElementById('request').innerText = request;
        }
    </script>
</article>
