.buildings-list {
    --list-gap-horizontal: var(--space-l);
    --list-gap-vertical: var(--space-xl);
    display: grid;
    grid-row-gap: var(--list-gap-horizontal);
    grid-column-gap: var(--list-gap-vertical);
    grid-template-columns: repeat(auto-fill, minmax(clamp(300px, 30%, 400px), 1fr));
}
