.building-card__image {
    margin-bottom: var(--space-m);
    width: 100%;
    height: auto;
}

.building-card__title {
    margin-bottom: var(--space-2xs);
}

.building-card__address {
    margin-bottom: var(--space-s);
}
