.buildings-list {
    --list-gap-horizontal: var(--space-xl);
    --list-gap-vertical: var(--space-2xl);
    display: grid;
    grid-row-gap: var(--list-gap-horizontal);
    grid-column-gap: var(--list-gap-vertical);
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
