.content-nav {
    display: flex;
}

.content-nav__item--prev {
    .content-nav__link {
        &::before {
            content: '←';
            left: -4px;
            transform: translate(-100%, -50%);
        }
    }
}

.content-nav__item--next {
    margin-left: auto;
    order: 1;

    .content-nav__link {
        &::before {
            content: '→';
            right: -4px;
            transform: translate(100%, -50%);
        }
    }
}

.content-nav__link {
    position: relative;
    display: block; // prevent from hovered link blinking

    &::before {
        position: absolute;
        top: 50%;
    }
}
