.event-card {

}

.event-card__image {
    width: 100%;
    margin-bottom: var(--space-m);
}

.event-card__title {
    --color-link: var(--color-text);
    --color-border: rgba(0, 0, 0, .3);
    --color-hover: var(--color-primary);
    --color-border-hover: rgba(0, 0, 0, 0);

    display: block;
    margin-bottom: var(--space-xs);

    @include simpleLink(true);
}

.event-card__content {
    margin-bottom: var(--space-m);
}

.event-card__action {
    --color-link: var(--color-primary-contrast);
    --color-border: rgba(255, 255, 255, .5);
    --color-hover: var(--color-primary-contrast);
    --color-border-hover: rgba(255, 255, 255, 0);

    @include simpleLink();

    min-height: 32px;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    padding: var(--space-2xs) var(--space-xs);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: var(--color-primary);
}
