.event-card__image {
    width: 100%;
    margin-bottom: var(--space-m);
    aspect-ratio: 312 / 148;
    background-color: aliceblue;
    object-fit: cover;
    display: block;
}

.event-card__title {
    display: block;
}

.event-card__link {
    --color-link: var(--color-text);
    --color-border: rgba(0, 0, 0, .3);
    --color-hover: var(--color-primary);
    --color-border-hover: rgba(0, 0, 0, 0);

    display: block;


    @include simpleLink();

    &::before,
    &::after {
        content: '';
        position: absolute;
        left: -10px;
        top: -10px;
        right: -10px;
        bottom: -10px;
        border-radius: 8px;
        z-index: 1;
        opacity: 0;
    }

    &::before {
        z-index: -1;
        background-color: #F9F9FB;
    }

    &:hover::before {
        opacity: 1;
    }

    &:focus {
        --color-link: var(--color-primary);
        --color-border: rgba(0, 0, 0, 0);

        outline: none;

        &::before {
            outline: 2px solid var(--color-primary);
            opacity: 1;
        }
    }

    &:focus:not(:focus-visible) {
        outline: 0;

        &::before {
            outline: 0;
        }
    }
}

.event-card__content {
    margin-bottom: var(--space-m);
    position: relative;
}

.event-card__action {
    --color-link: var(--color-primary-contrast);
    --color-border: rgba(255, 255, 255, .5);
    --color-hover: var(--color-primary-contrast);
    --color-border-hover: rgba(255, 255, 255, 0);

    @include simpleLink();

    min-height: 32px;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    padding: var(--space-2xs) var(--space-xs);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: var(--color-primary);
}

.event-card__dates {
    color: var(--color-gray);
    margin-top: var(--space-xs);
}

.event-card--horizontal {
    .event-card__content {
        position: relative;

        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .event-card__image {
        left: 0;
        top: 0;
        max-width: 312px;
        width: 100%;

        @media screen and (min-width: 740px) {
            width: calc(26 * var(--space-xs));
            margin-right: var(--space-m);
            float: left;
            margin-bottom: 0;
        }
    }

    .event-card__link {
        display: inline;

        &:focus {
            outline: initial;
        }

        &:focus-visible {
            outline: initial;
        }

        &::before {
            content: none;
        }
    }

    .event-card__dates {
        margin-top: var(--space-xxs);
        margin-bottom: var(--space-s);
    }
}
