.event-card {

}

.event-card__image {
    width: 100%;
    margin-bottom: var(--space-m);
}

.event-card__title {
    --color-link: var(--color-text);
    --color-border: rgba(0, 0, 0, .3);
    --color-hover: var(--color-primary);
    --color-border-hover: rgba(0, 0, 0, 0);

    display: block;
    margin-bottom: var(--space-xs);

    @include simpleLink(true);
}

.event-card__content {
    margin-bottom: var(--space-m);
    position: relative;

    a {
        --color-link: var(--color-text);
        --color-border: rgba(0, 0, 0, .3);
        --color-hover: var(--color-primary);
        --color-border-hover: rgba(0, 0, 0, 0);

        @include simpleLink();

        &::before {
            content: '';
            position: absolute;
            left: -10px;
            top: -10px;
            right: -10px;
            bottom: -10px;
            border-radius: 8px;
            border: 2px solid transparent;
        }

        &:hover::before {
            border-color: var(--color-primary);
        }

        &:focus {
            --color-link: var(--color-primary);
            --color-border: rgba(0, 0, 0, 0);

            outline: none;

            &::before {
                border-color: var(--color-primary);
            }
        }

        &:focus:not(:focus-visible) {
            outline: 0;
        }
    }
}

.event-card__action {
    --color-link: var(--color-primary-contrast);
    --color-border: rgba(255, 255, 255, .5);
    --color-hover: var(--color-primary-contrast);
    --color-border-hover: rgba(255, 255, 255, 0);

    @include simpleLink();

    min-height: 32px;
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    padding: var(--space-2xs) var(--space-xs);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: var(--color-primary);
}
