.events__filter {
    margin-bottom: var(--space-xl);
}

.events__list {
    --list-gap-horizontal: var(--space-l);
    --list-gap-vertical: var(--space-xl);
    display: grid;
    grid-row-gap: var(--list-gap-horizontal);
    grid-column-gap: var(--list-gap-vertical);
    grid-template-columns: repeat(auto-fill, minmax(clamp(300px, 30%, 400px), 1fr));
}

.events__item {
    width: 100%;
    margin-right: var(--space-l);
}

.events__filter {
    display: flex;
    align-items: center;
}

.events__button {
    min-height: 58px;
    display: flex;
    align-items: center;
    padding: 0 var(--space-m);
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;

    &:active,
    &:hover {
        border-color: var(--color-gray);
    }

    &.is-active {
        background-color: var(--color-secondary);
        border-color: transparent;
        pointer-events: none;
    }

    & + & {
        margin-left: var(--space-xs);
    }

    > span {
        display: inline-block;
        font-size: var(--step-0);
        margin-left: 8px;
        color: var(--color-gray);
    }
}

.events--vertical {
    .events__list {
        display: block;
    }

    .events__item + .events__item {
        margin-top: var(--list-gap-vertical);
    }
}
