.footer {
    background: #F1F1F1;

    flex-wrap: wrap;
}

.footer__inner {
    max-width: calc(var(--page-max-width) + 2 * var(--page-gap-horizontal));
    width: 100%;
    margin: 0 auto;
    padding: calc(3 * var(--space-m)) var(--page-gap-horizontal);
    display: flex;
}

.footer__menu {

}

.footer__menu-item {
    & + & {
        margin-top: var(--space-s);
    }
}

.footer__networks {
    margin-top: var(--space-l);
}

.footer__networks-title {
    margin-bottom: var(--space-s)
}

.footer__networks-items {
    display: flex;
    align-items: center;
}

.footer__networks-item {
    width: 40px;
    height: 40px;
    display: block;

    & + & {
        margin-left: var(--space-m);
    }
}

.footer__left {
    flex: 1 1 50%;
}

.footer__right {
    flex: 1 1 50%;
}
