.footer {
    background: #F1F1F1;
}

.footer__inner {
    max-width: calc(var(--page-max-width) + 2 * var(--page-gap-horizontal));
    width: 100%;
    margin: 0 auto;
    padding: calc(3 * var(--space-m)) var(--page-gap-horizontal);
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--space-2xl));
}

.footer__menu {

}

.footer__menu-item {
    a {
        --color-link: var(--color-text);
        --color-border: rgba(0, 0, 0, .3);
        --color-hover: var(--color-primary);
        --color-border-hover: rgba(0, 0, 0, 0);

        @include simpleLink();
    }

    & + & {
        margin-top: var(--space-s);
    }
}

.footer__networks {
    margin-top: var(--space-l);
}

.footer__networks-title {
    margin-bottom: var(--space-s)
}

.footer__networks-items {
    display: flex;
    align-items: center;
}

.footer__networks-item {
    --color-link: var(--color-text);
    --color-border: rgba(0, 0, 0, 0);
    --color-hover: var(--color-primary);
    --color-border-hover: rgba(0, 0, 0, 0);

    width: 40px;
    height: 40px;
    display: block;

    & + & {
        margin-left: var(--space-m);
    }
}

.footer__left {
    flex: 1 1 50%;
    min-width: 300px;
    margin-top: var(--space-2xl);
}

.footer__right {
    flex: 1 1 50%;
    min-width: 300px;
    margin-top: var(--space-2xl);
}

.footer__subscribe-title {
    margin-bottom: var(--space-l);

}
