.footer {
    background: #F1F1F1;
}

.footer__inner {
    max-width: calc(var(--page-max-width) + 2 * var(--page-gap-horizontal));
    width: 100%;
    margin: 0 auto;
    padding: calc(3 * var(--space-m)) var(--page-gap-horizontal);
}
