.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: var(--page-gap-vertical) var(--page-gap-horizontal) 0;
    flex: 0 0 auto;
    max-width: calc(var(--page-max-width) + 2 * var(--page-gap-horizontal));
    width: 100%;
    margin: 0 auto;
}

.header__logo {
    width: 200px;
    height: 42px;
    flex: 0 0 auto;
}

.header__home {
    margin-right: 16px;
}

.header__navigation {
    width: 100%;
    margin-top: var(--space-2xl);
}

.header__search {
    min-width: 295px;
    max-width: 295px;
    flex: 1 0 auto;
    margin-left: auto;
    transition: max-width 0.2s;

    &:focus-within {
        max-width: 400px;
    }
}

.header__language {
    margin-left: var(--space-s);
}

.header__auth {
    margin-left: var(--space-l);
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;

    > svg {
        pointer-events: none;
    }
}
