.header {
    display: flex;
    align-items: center;
    padding: 8px var(--page-gap-horizontal);
    flex: 0 0 auto;
    max-width: calc(var(--page-max-width) + 2 * var(--page-gap-horizontal));
    width: 100%;
    margin: 0 auto;
}

.header__photo {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 8px;
    flex: 0 0 auto;
}

.header__home {
    font-size: 1rem;
    margin-right: 16px;
}

.header__home-link {
    display: flex;
    align-items: center;

    &.is-active {
        text-decoration: none;
    }
}
