.header {
    padding: var(--page-gap-vertical) var(--page-gap-horizontal) 0;
    max-width: calc(var(--page-max-width) + 2 * var(--page-gap-horizontal));
    width: 100%;
    margin: 0 auto;
}

.header__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__logo {
    width: 200px;
    height: 42px;
    flex: 0 0 auto;
}

.header__home {
    padding-right: 16px;
    flex: 0 0 auto;
    margin-right: auto;
}

.header__navigation {
    width: 100%;
    margin-top: var(--space-2xl);
}

.header__search {
    min-width: 295px;
    max-width: 295px;
    flex: 1 0 auto;
    margin-left: auto;
    transition: max-width 0.2s;

    &:focus-within {
        max-width: 400px;
    }
}

.header__language {
    margin-left: var(--space-s);
}

.header__auth {
    display: flex;
    align-items: center;
    margin-left: var(--space-l);
}

.header__auth-user {
    margin-right: 16px;

}

.header__auth-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--color-text);

    &:hover {
        color: var(--color-primary);
    }

    > svg {
        pointer-events: none;
    }
}

.header__auth-user {
    max-width: 100px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}
