.language-switcher {
    display: flex;
}

.language-switcher__item  {
    @include simpleLink();

    --color-link: var(--color-secondary-contrast);
    --color-border: rgba(0, 0, 0, .3);
    --color-hover: var(--color-primary);
    --color-border-hover: rgba(0, 0, 0, 0);

    border-radius: 4px;
    color: var(--color-secondary-contrast);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 64px;
    min-height: 52px;
    padding: 4px 8px;
    position: relative;


    & + & {
        margin-left: var(--space-2xs);
    }

    &.is-active {
        text-decoration: none;
        pointer-events: none;
        background: var(--color-secondary);
    }
}
