.navigation {
    display: flex;
    align-items: center;
    margin-left: -8px;
}

.navigation__item {
    & + & {
        margin-left: var(--space-l);
    }

    a {
        --color-link: var(--color-text);
        --color-border: rgba(0, 0, 0, .3);
        --color-hover: var(--color-primary);
        --color-border-hover: rgba(0, 0, 0, 0);

        @include simpleLink();

        display: block;
        padding: 4px 8px;
        border-radius: 4px;
    }

    &.is-active a {
        --color-link: #fff;
        --color-hover: #fff;

        text-decoration: none;
        background-color: #000;
    }

    &:last-child {
        margin-left: auto;

        a {
            --color-link: darkred;
            --color-border: darkred;
            --color-hover: darkred;
            --color-border-hover: darkred;

            @include simpleLink();

            min-height: 32px;
            display: inline-flex;
            align-items: center;
            padding: var(--space-2xs) var(--space-xs);
            cursor: pointer;
            border-radius: 8px;
            background-color: transparent;
            border: 1px solid darkred;
        }
    }
}
