.posts {
    list-style: none;
}

.posts__item {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    & + & {
        margin-top: var(--space-2xs);
    }
}

.posts__date {
    color: var(--darkgray);
}

.posts__link {
    margin-right: 8px;
}

.posts__info {
    font-style: italic;
    display: block;
    margin-top: var(--space-3xs);
}

.posts__tag {
    display: inline-block;

    & + & {
        margin-left: 4px;
    }
}
