.post {
    max-width: 50em;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.post__title {
    margin-bottom: var(--space-xs);
}

.post__info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--space-m);
}

.post__reading {
    &::before {
        content: '/';
        display: inline-block;
        margin: 0 8px;
    }
}

.post__content {
    flex: 1 0 auto;
}

.post__tags {
    margin: 0 0 var(--space-m);
}

.post__tag {
    display: inline-block;

    & + & {
        margin-left: 8px;
    }
}

.post__footer {
    padding: 40px 0 var(--page-gap-vertical);
}
