.subscribe-form {
    width: 100%;
}

.subscribe-form__title {
    margin-bottom: var(--space-l);
}

.subscribe-form__control--email {
    position: relative;
}

.subscribe-form__control--agreement {
    margin-top: var(--space-s);
    width: 100%;
    display: flex;
}

.subscribe-form__email-field {
    min-height: 44px;
    background: 0;
    border: 0;
    border-bottom: 1px solid black;
    width: 100%;

    .has-submit &:invalid {
        border-color: red;
        outline-color: red;
    }
}

.subscribe-form__email-label {
    margin-bottom: var(--space-2xs);

    @media (min-width: 720px) {
        position: absolute;
        bottom: 100%;
        margin: 0;
    }
}

.subscribe-form__action {
    margin-top: var(--space-s);
    min-height: 44px;
    display: flex;
    align-items: center;
    padding: 0 var(--space-m);
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: var(--color-text);
    color: var(--color-primary-contrast);
    flex: 0 0 auto;

    @media (min-width: 720px) {
        order: 2;
    }

    &:hover {
        color: var(--color-primary-contrast);
    }
}

.subscribe-form__checkbox {
    display: inline-block;
    margin-right: var(--space-2xs);
    width: var(--space-m);
    height: var(--space-m);
    position: relative;

    input {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;

        .has-submit &:invalid {
            box-shadow: 0 0 0 1px red;
            outline-color: red;
        }
    }
}

.subscribe-form__agreement {
    flex: 1 1 auto;
}
