---
layout: home.njk
title: Страница не найдена
permalink: 404.html
eleventyExcludeFromCollections: true
---
<article class="post">
    <h1 class="post__title header-1">Страница не найдена</h1>

    <div class="post__content formatted-text">
        <a href="{{ '/' | url }}">Вернуться на главную</a>
    </div>
</article>
