---
layout: home.njk
title: Страница не найдена
permalink: 404.html
eleventyExcludeFromCollections: true
---
<article class="article">
    <h1 class="article__title header-1">Страница не найдена</h1>

    <div class="article__content formatted-text">
        <p>
            <a href="{{ '/' | url }}">Вернуться на главную</a>
        </p>
    </div>
</article>
