---
layout: home.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---
<article class="post">
    <h1 class="post__title header-1">Content not found.</h1>

    <div class="post__content formatted-text">
        Go <a href="{{ '/' | url }}">home</a>.
    </div>
</article>
