---
layout: base.njk
title: Музей
eleventyNavigation:
    key: Музей
    order: 3
---
<article class="post">
    <h1 class="post__title header-1">{{ title }}</h1>

    <div class="post__content formatted-text">
        <p>Эта страница в разработке</p>
        <a href="{{ '/' | url }}">Вернуться на главную</a>
    </div>
</article>
