---
layout: home.njk
permalink: /posts/
eleventyExcludeFromCollections: true
---
<section class="post">
    <h1 class="post__title header-1">Archive</h1>

    <div class="post__content formatted-text">
        {% set postslist = collections.posts %}
        {% include "postslist.njk" %}
    </div>
</section>
