---
layout: base.njk
title: Pushkin museum
eleventyExcludeFromCollections: true
lang: en
isIndex: true
---
<article class="article">
    <h1 class="article__title header-1">{{ title }}</h1>

    <div class="article__content formatted-text">
        <p>English version is under construction. Please come back in 2027</p>
        <p>
            <a href="{{ '/' | url }}">Get back to Russian version</a>
        </p>
    </div>
</article>
