---
layout: home.njk
eleventyNavigation:
    key: Home
    order: 1
isIndex: true
title: Mitya Kuznetsov
---
{% set postslist = collections.posts | head(-30) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

{% if postslistCounter > 30 %}
    <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
{% endif %}


