---
layout: home.njk
eleventyNavigation:
    key: Home
    order: 1
isIndex: true
title: Пушкинский музей
---

{% set eventslist = collections.events | head(-30) %}
{% set eventslistCounter = collections.events | length %}

<h1 class="visually-hidden">{{ metadata.title }}</h1>

<section class="page__section">
    <h2 class="page__section-title visually-hidden" id="title-promo">Анонсы</h2>
    {% include "promo.njk" %}
</section>

<section class="page__section" hidden>
    <h2 class="page__section-title header-1">
        Магазин
    </h2>

    <div class="buy">
        <a href="{{ '/tickets/' | url }}" class="buy__action">Билеты</a>
        <a href="{{ '/shop/' | url }}" class="buy__action">Товары</a>
        <a href="{{ '/membership/' | url }}" class="buy__action buy__action--secondary">Стать другом</a>
    </div>
</section>

<section class="page__section">
    <h2 class="page__section-title header-1">
        <a href="{{ '/events/' | url }}">Выставки и события</a>
    </h2>
    {% include "eventslist.njk" %}
</section>

<section class="page__section">
    <h2 class="page__section-title header-1">Музей</h2>
    <div class="museum-info" role="tablist">
        <div class="museum-info__tabs" id="museum-info-tabs">
            <button class="museum-info__tab header-4 is-active" id="heading1" role="tab" aria-controls="panel1" tabindex="0" aria-selected="true">
                Здания
            </button>
            <button class="museum-info__tab header-4" id="heading2" role="tab" aria-controls="panel2" tabindex="-1">
                История
            </button>
        </div>
        <div class="museum-info__panel" id="panel1" role="tabpanel" aria-labelledby="heading1">
            <ul class="buildings-list">
                <li class="buildings-list__item">
                    <div class="building-card vcard">
                        <img class="building-card__image" src="{{ '/images/building-1.png' | url }}" alt=""/>
                        <h3 class="building-card__title header-2">
                            <a href="{{ '/buildings/#1' | url }}">Мемориальная квартира С.Т. Рихтера</a>
                        </h3>
                        <p class="building-card__address street-address p-1">ул. Большая Бронная, 2/6, 16 этаж, кв. 58</p>
                    </div>
                </li>
                <li class="buildings-list__item">
                    <div class="building-card vcard">
                        <img class="building-card__image" src="{{ '/images/building-2.png' | url }}" alt=""/>
                        <h3 class="building-card__title header-2">
                            <a href="{{ '/buildings/#2' | url }}">Центр эстетического воспитания «Мусейон»</a>
                        </h3>
                        <p class="building-card__address p-1"><span class="street-address">Колымажный пер., 6/2, 3</span> (вход с Малого Знаменского переулка)</p>
                    </div>
                </li>
                <li class="buildings-list__item">
                    <div class="building-card vcard">
                        <img class="building-card__image" src="{{ '/images/building-3.png' | url }}" alt=""/>
                        <h3 class="building-card__title header-2">
                            <a href="{{ '/buildings/#3' | url }}">Усадьба Лопухиных</a>
                        </h3>
                        <p class="building-card__address street-address p-1">Малый Знаменский пер., 3/5с4</p>
                    </div>
                </li>
                <li class="buildings-list__item">
                    <div class="building-card vcard">
                        <img class="building-card__image" src="{{ '/images/building-4.png' | url }}" alt=""/>
                        <h3 class="building-card__title header-2">
                            <a href="{{ '/buildings/#4' | url }}">Учебный музей</a>
                        </h3>
                        <p class="building-card__address street-address p-1">ул. Чаянова, 15</p>
                    </div>
                </li>
                <li class="buildings-list__item">
                    <div class="building-card vcard">
                        <img class="building-card__image" src="{{ '/images/building-5.png' | url }}" alt=""/>
                        <h3 class="building-card__title header-2">
                            <a href="{{ '/buildings/#5' | url }}">Отдел личных коллекций</a>
                        </h3>
                        <p class="building-card__address street-address p-1">ул. Волхонка, 10</p>
                    </div>
                </li>
                <li class="buildings-list__item">
                    <div class="building-card vcard">
                        <img class="building-card__image" src="{{ '/images/building-6.png' | url }}" alt=""/>
                        <h3 class="building-card__title header-2">
                            <a href="{{ '/buildings/#6' | url }}">Галерея</a>
                        </h3>
                        <p class="building-card__address street-address p-1">ул. Волхонка, 14</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="museum-info__panel formatted-text" hidden id="panel2" role="tabpanel" aria-labelledby="heading2">
            <p>Государственный музей изобразительных искусств имени А.С. Пушкина – одно из крупнейших в России художественных собраний зарубежного искусства с древнейших времен до наших дней.</p>

            <p>В современной экспозиции представлены обширная учебная коллекция тонированных гипсовых слепков с произведений Античности, Средних веков и эпохи Возрождения, а также собрание подлинных произведений живописи, скульптуры, графики и декоративно-прикладного искусства.</p>

            <p>В залах первого этажа Главного здания представлены: произведения искусства Древнего Египта, Античности, собрание европейской живописи VIII–XVIII веков; два зала – Итальянский и Греческий дворики – занимают слепки. На втором этаже Главного здания в залах размещены слепки произведений искусства Древней Греции, Рима, Средних веков и Возрождения.</p>

            <p>В начале 2017 года музей определил новое направление своей деятельности – Пушкинский XXI, – ориентированное на современное российское и западное искусство во всех аспектах – выставочном, образовательном и исследовательском. Таким образом, ГМИИ им. А.С. Пушкина представляет собой открытую, интерактивную сцену, демонстрирующую развитие мировой культуры с древности до наших дней, живое, знакомое с детства пространство для получения знаний и общения.</p>

            <p>
                <a href="{{ '/history/' | url }}">Больше об истории музея</a>
            </p>
        </div>
    </div>
</section>


<section class="page__section">
    <h2 class="page__section-title header-1">
        Экскурсии и лекции в прямом эфире
    </h2>
    <div class="formatted-text">
        <p>С 1 июля вы можете присоединиться к нашим виртуальным мероприятиям — экскурсиям и лекциям для взрослых и детей, оплатив участие на сайте. Встречи будут проходить в прямом эфире на платформе Zoom; предусмотрен формат живого общения с возможностью задавать вопросы экскурсоводу (лектору).</p>
        <p>
            <a href="{{ '/virtual/' | url }}">Подробнее о виртуальных мероприятиях.</a>
        </p>

        <p>Мы будем благодарны за любое <a href="{{ '/donate/' | url }}">пожертвование</a>. Все поступившие средства будут направлены на организацию онлайн-проектов для наших посетителей.</p>
    </div>
</section>

