---
layout: base.njk
title: Членство
hasHighlight: true
eleventyNavigation:
    key: Стать другом
    order: 100
---
<article class="article">
    <h1 class="article__title header-1">{{ title }}</h1>

    <div class="article__content formatted-text">
        <p>Эта страница в разработке</p>
        <p>
            <a href="{{ '/' | url }}">Вернуться на главную</a>
        </p>
    </div>
</article>
