---
layout: home.njk
eleventyExcludeFromCollections: true
---
<div>
    <div class="formatted-text" style="max-width: 600px">
        <h1 class="header-1">Header1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
        <h2 class="header-2">Header2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
        <h3 class="header-3">Header3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
        <p class="p-1">P1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce arcu dolor, pharetra in commodo quis, ultricies et arcu</p>
        <p class="p-2">P2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce arcu dolor, pharetra in commodo quis, ultricies et arcu</p>
    </div>
</div>
