body {
    font-family: var(--font-family-system);
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 16px; // temp
}

a {
    &:link {
        color: var(--color-link);
    }

    &:hover {
        color: var(--color-link-hover);
    }
}
