---
layout: base.njk
title: Посетителям
eleventyNavigation:
    key: Посетителям
    order: 4
---
<article class="article">
    <h1 class="article__title header-1">{{ title }}</h1>

    <div class="article__content formatted-text">
        Страница для посетителей
    </div>
</article>
